<section class="main-section">
    <details>
        <summary><i class="fa-solid fa-spinner"></i> Progreso</summary>
        <section class="flex-container">
            <div class="flex-icon">
                <img src="../../assets/images/enllamas-icon.png">
            </div>
            <div class="flex-text">
                <h3>En llamas</h3>
                <p>Alcanza una racha de 3 días consecutivos</p>
                <progress max="100" value="33" class="progress-bar"></progress>
            </div>
        </section>
        <section class="flex-container">
            <div class="flex-icon">
                <img src="../../assets/images/roi-icon.png">
            </div>
            <div class="flex-text">
                <h3>ROI</h3>
                <p>Logra tener un ROI mayor al de tu inversión</p>
                <progress max="100" value="80" class="barraStyle"></progress>
            </div>
        </section>
        <section class="flex-container">
            <div class="flex-icon">
                <img src="../../assets/images/imparable-icon.png" alt="Casco de un guerrero">
            </div>
            <div class="flex-text">
                <h3>Imparable</h3>
                <p>Completa 3 capsulas sin errores</p>
                <progress max="100" value="66" class="progress-bar"></progress>
            </div>
        </section> 
    </details>
    <details>
        <summary><i class="fa-solid fa-bookmark"></i> Marcadores</summary>
        <p id="text-marcadores">No hay marcadores en este momento.</p>
    </details>
    <details>
        <summary><i class="fa-solid fa-triangle-exclamation"></i> Alertas</summary>
        <p id="text-alertas">No hay alertas en este momento.</p>
    </details>
    <details>
        <summary><i class="fa-solid fa-graduation-cap"></i> Certificados</summary>
        <p id="text-certificados">Todavía no ha obtenido certificados.</p>
    </details>
</section>



