.main-section {
    font-family: sans-serif;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0.5rem 0;
}

details {
    width: 99%;
    margin: 0 auto;    
}

summary {
    list-style: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #00AEC7;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 0.3rem;
}

div h3 {
    color: black;
}

div p {
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-icon {
    width: 100px;
    margin-left: 1rem;
    /*background-color: salmon;*/
}

img {
    width: 100px;
    border-radius: 10px;
}

.flex-text {
    width: 60%;
    margin-left: 1rem;
    /*background-color: aqua;*/
}

#text-marcadores, #text-alertas, #text-certificados {
    margin-left: 1rem;
}

summary:hover {
    background-color: #0033A0;
}

progress {
    background-color: white;
  }
  
  ::-webkit-progress-bar {
     background-color: #ECF0E9;
     border-radius: 10px;
  }

  ::-webkit-progress-value {
    background-color: #45F036;
    border-radius: 10px;
 }
 
 ::-moz-progress-bar {
    background-color: #45F036;
    border-radius: 10px;
 }

 

