<app-header></app-header>
<form class="formulario" [formGroup]="userRegister" (ngSubmit)="registrar()">
  <h1>Regístrate</h1>
  <div class="contenedor">
    <span *ngIf = "userRegister.get('name')?.hasError('required') && userRegister.get('name')?.touched" class="text-danger">
        El nombre es requerido        
    </span>
      <div class="input-contenedor">
          <i class="fa-solid fa-person icon form-control"></i>
          <input type="text" placeholder="Nombre Completo" formControlName="name" >         
      </div>
    <span *ngIf = "userRegister.get('email')?.hasError('required') && userRegister.get('email')?.touched" class="text-danger">
        El correo es requerido
    </span>
      <span *ngIf = "userRegister.get('email')?.hasError('email') && userRegister.get('email')?.touched" class="text-danger">
        El correo es inválido
    </span>    
      <div class="input-contenedor ">
          <i class="fa-solid fa-envelope icon form-control "></i>
          <input type="text" placeholder="Correo Electrónico" formControlName="email" >
      </div>
      <span *ngIf = "userRegister.get('password')?.hasError('required') && userRegister.get('password')?.touched" class="text-danger">
        La contraseña es requerida
    </span>
      <span *ngIf = "userRegister.get('password')?.hasError('minlength') && userRegister.get('password')?.touched" class="text-danger">
        La contraseña debe tener mínimo 6 caracteres
    </span>
      <div class="input-contenedor">
          <i class="fa-solid fa-key icon form-control"></i>
          <input type="password" placeholder="Contraseña" formControlName="password" >
      </div>
      <div class="input-contenedor">
        <i class="fa-solid fa-key icon form-control"></i>
        <input type="password" placeholder="Repetir Contraseña" formControlName="repetirPassword" >        
    </div>      
      <input type="submit" value="Aceptar" class="button" [disabled]="userRegister.invalid ">

      <p>Al registrarte aceptas nuestras condiciones de uso y politicas de privacidad</p>
      <p>¿ya tienes cuenta? <a class="link" routerLink="/login">Inicia sesión</a></p>
  </div>
</form>
<app-footer></app-footer>
