@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  /* Font Sizes */
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.9rem;
  --font-size-ulg: 2.1rem;
  --font-size-xl: 2.6rem;
  --font-size-xxl: 2.3rem;
  --font-size-xxxl: 3.8rem;
  /*----learning path----*/
  --bar-color: #E3E829;
    --fill-size: 0%;

  /*Brand colors*/
  --main-yellow-color: #E3E829;
  --blue-color: #0033A0;
  --aqua-color: #00AEC7;

  /* Custom properties */
  --color-primary: #fffffe;
  --color-secondary: #16204a;
  --color-tertiary: #61bb4a;
  --background-page: linear-gradient(rgb(128, 161, 212), rgb(192, 185, 221), rgb(222, 217, 226), rgb(247, 244, 234));
  --radius-button: 4px;

  /* Typographies */
  --main-typo: 'Montserrat', sans-serif;

  /*----width----*/

  /*----height----*/
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}


/** Estandar para responsive
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
  */

  button{
    cursor: pointer;
    margin: 5px;
    padding: 3px;
  }

  button:active {
    background-color: white;
  }
  
  