<app-header></app-header>
<form class="formulario" [formGroup]="retrieveUser" (ngSubmit)="recuperar()">
    <h1>Recuperar</h1>
    <div class="contenedor">        
        <span *ngIf = "retrieveUser.get('email')?.hasError('required') && retrieveUser.get('email')?.touched" class="text-danger">
            El correo es requerido
        </span>
          <span *ngIf = "retrieveUser.get('email')?.hasError('email') && retrieveUser.get('email')?.touched" class="text-danger">
            El correo es inválido
        </span> <div class="input-contenedor ">
                <i class="fa-solid fa-envelope icon "></i>
                <input type="text" placeholder="Correo Electrónico" formControlName="email">
            </div>            
        <input type="submit" value="Ingresar" class="button" [disabled]="retrieveUser.invalid">      
    </div>
</form>
<app-footer></app-footer>